.headerTable {
  background: url("../../background/headerTable.png") repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  img {
    object-fit: contain;
    padding: 20px;
    height: auto;
  }
  @media screen and (max-width: 1024px) {
    img {
      width: 200px;
    }
  }
  @media screen and (min-width: 1025px) {
    img {
      width: 300px;
    }
  }
  .subtitles {
    color: white;
    display: flex;
    font-size: 0.7rem;
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 20px;
    p {
      margin-left: 80px;
    }
  }
}
