.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app__container {
  background: url("./background/container.png") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
